.winner-container {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);


    .modal {
        position: relative;
        display: flex;
        flex-direction: column;
        background: #d5d6d6;
        padding: 3rem 5rem;
        border-radius: 12px;
        min-width: 20vw;
        width: 30vw;
        max-width: 300px;
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
    }

   

    .close-button:hover {
        color: #ea8a9a;
    }

    .close-button:active {
        color: #98D2C6;
    }

    @media screen and (min-width: 1200px) {
        .modal h1 {
            margin: 0;
            font-size: 1.5vw;
            text-align: center;
        }
         .close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: transparent;
        font-weight: 700;
        border: none;
        color: #28282a;
        font-size: 1.5vw;
        cursor: pointer;

    }
    }
/* phone 500px*/
    @media screen and (max-width: 1200px) {
        .modal h1 {
            margin: 0;
            font-size: 3vw;
            text-align: center;
        }
         .close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: transparent;
        font-weight: 700;
        border: none;
        color: #28282a;
        font-size: 2.5vw;
        cursor: pointer;

    }
    }
}