.winner-container {
    user-select: none;
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-overlay-bg);


    .modal {
        user-select: none;
        position: relative;
        display: flex;
        flex-direction: column;
        background: var(--color-bg);
        padding: 3rem 5rem;
        border-radius: 12px;
        min-width: 20vw;
        width: 30vw;
        max-width: 300px;
        box-shadow: 0 20px 60px var(--color-shadow);
    }



    .close-button:hover {
        color: var(--color-accent-pink);
    }

    .close-button:active {
        color: var(--color-accent-green);
    }

    @media screen and (min-width: 1200px) {
        .modal h1 {
            user-select: none;
            margin: 0;
            font-size: 1.5vw;
            text-align: center;
        }

        .close-button {
            user-select: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: transparent;
            font-weight: 700;
            border: none;
            color: var(--color-dark);
            font-size: 1.5vw;
            cursor: pointer;

        }
    }

    /* phone 500px*/
    @media screen and (max-width: 1200px) {
        .modal h1 {
            margin: 0;
            font-size: 2.5vw;
            text-align: center;
        }

        .close-button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: transparent;
            font-weight: 700;
            border: none;
            color: var(--color-dark);
            font-size: 2.5vw;
            cursor: pointer;

        }
    }

    @media screen and (max-width: 650px) {
        .modal h1 {
            user-select: none;
            margin: 0;
            font-size: 4.5vw;
            text-align: center;
        }

        .close-button {
            user-select: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: transparent;
            font-weight: 700;
            border: none;
            color: #28282a;
            font-size: 4vw;
            cursor: pointer;

        }

        .modal {
            user-select: none;
        position: relative;
        display: flex;
        flex-direction: column;
        background: var(--color-bg);
        padding: 8vw 8vh;
        border-radius: 12px;
        min-width: 20vw;
        width: 30vw;
        max-width: 300px;
        box-shadow: 0 20px 60px var(--color-shadow);
    }
    }
}