.wheel-overall-container {
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem; 
}


.wheel::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
}

/* for larger screen (regular pc screen)*/
@media screen and (min-width: 1200px) {
    .wheel {
        position: relative;
        width: 37vw;
        height: 37vw;
        border-radius: 50%;
        border: 10px solid var(--color-border);
        transition: transform 13s cubic-bezier(0.17, 0.67, 0.12, 0.99);
        transform-origin: 50% 50%;
        overflow: hidden;
    }
    .wheel-overall-container {
        flex-direction: row; 
        align-items: flex-start;
    }

    .wheel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        position: relative;
    }

    .wheel-mid-hide {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2.5vw;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: var(--color-bg);
        z-index: 3;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wheel-label {
        position: absolute;
        top: 50%;
        left: 16%;
        transform-origin: 0 0;
        color: var(--color-label);
        font-size: 1.5vw;
        font-weight: 700;
        white-space: nowrap;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
        --label-radius: 50%;
    }

    .wheel-label span:hover {
        background-color: var(--color-hover-overlay);
        border-radius: 15px;
        padding: 0.3rem 0.5rem;
        transition: background-color 0.2s ease;
    }

    .wheel-label span.no-hover:hover {
        background-color: transparent;
        padding: 0;
    }

    .wheel-pointer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -840%) rotate(180deg);
        width: 7%;
        aspect-ratio: 1 / 1;
        background: var(--color-dark);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        z-index: 4;
        pointer-events: none;
    }
}

/* for smaller screen (mobile screen)*/
@media screen and (max-width: 1200px) {
    .wheel {
        position: relative;
        width: 60vw;
        height: 60vw;
        border-radius: 50%;
        border: 10px solid var(--color-border);
        transition: transform 13s cubic-bezier(0.17, 0.67, 0.12, 0.99);
        transform-origin: 50% 50%;
        overflow: hidden;
    }
    .wheel-overall-container {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }



    .wheel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 75vh;
        position: relative;
    }

    .wheel-pointer {
        position: absolute;
        top: calc(30vw);
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        width: 5vw;
        height: 5vw;
        background: var(--color-dark);
        clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
        z-index: 4;
        pointer-events: none;
    }

    .wheel-label {
        position: absolute;
        top: 50%;
        left: 15%;
        transform-origin: 0 0;
        color: var(--color-label);
        font-size: 2.5vw;
        font-weight: 700;
        white-space: nowrap;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto; 
        --label-radius: 50%;
    }

    .wheel-label span:hover {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        padding: 0.3rem 0.5rem;
        transition: background-color 0.2s ease;
    }

    .wheel-label span.no-hover:hover {
        background-color: transparent;
        padding: 0;
    }

    .wheel-mid-hide {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4vw;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: var(--color-bg);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*in the works*/
    .wheel-pointer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -740%) rotate(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        width: 5vw;
        height: 5vw;
        background: var(--color-dark);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
}

@media screen and (max-width: 650px) {
    .wheel {
        position: relative;
        width: 65vw;
        height: 65vw;
        border-radius: 50%;
        border: 10px solid var(--color-border);
        transition: transform 13s cubic-bezier(0.17, 0.67, 0.12, 0.99);
        transform-origin: 50% 50%;
        overflow: hidden;
    }

    .wheel-label {
        position: absolute;
        top: 50%;
        left: 15%;
        transform-origin: 0 0;
        color: var(--color-label);
        font-size: 3.0vw;
        font-weight: 700;
        white-space: nowrap;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
        --label-radius: 50%;
    }

    .wheel-pointer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -890%) rotate(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        width: 5vw;
        height: 5vw;
        background: var(--color-dark);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
}
