@import "./colors.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;600;700&display=swap');

* {
  font-family: 'Noto Sans Mono', monospace;
}

body {
  user-select: none;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 100%;
  margin-left: 1rem;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 4.5vw;
  }
}